## **Import Pandas & Load Dataset**

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/densaiko/data_science_learning/main/dataset/insurance.csv")
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

## **Membuat kolom BMI_category**

In [ ]:
data["BMI_Category"] = data['bmi'].apply(lambda x: "High BMI" if x>=50 else ("Medium BMI" if x>=30 and x<50 else "Low BMI"))
data.head()

   age     sex     bmi  children smoker     region      charges BMI_Category
0   19  female  27.900         0    yes  southwest  16884.92400      Low BMI
1   18    male  33.770         1     no  southeast   1725.55230   Medium BMI
2   28    male  33.000         3     no  southeast   4449.46200   Medium BMI
3   33    male  22.705         0     no  northwest  21984.47061      Low BMI
4   32    male  28.880         0     no  northwest   3866.85520      Low BMI

## **Mengubah Data Point Kolom Sex, Region, dan BMI_Category Menjadi Uppercase**

In [ ]:
data[['sex', 'region', 'BMI_Category']] = data[['sex', 'region', 'BMI_Category']].apply(lambda x: x.astype(str).str.upper())
data.head()

   age     sex     bmi  children smoker     region      charges BMI_Category
0   19  FEMALE  27.900         0    yes  SOUTHWEST  16884.92400      LOW BMI
1   18    MALE  33.770         1     no  SOUTHEAST   1725.55230   MEDIUM BMI
2   28    MALE  33.000         3     no  SOUTHEAST   4449.46200   MEDIUM BMI
3   33    MALE  22.705         0     no  NORTHWEST  21984.47061      LOW BMI
4   32    MALE  28.880         0     no  NORTHWEST   3866.85520      LOW BMI

## **Menentukan Nilai Minimum, Maximum, dan Mean dari BMI**

In [ ]:
BMI = pd.pivot_table(data, values = ['bmi'], index = 'BMI_Category', aggfunc = {'bmi':['min', 'max', 'mean']}).round(2)
BMI

                bmi
                max   mean    min
BMI_Category
High BMI      53.13  52.03  50.38
Low BMI       29.92  25.51  15.96
Medium BMI    49.06  35.19  30.00